    body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-image: url(../latihan-css/image/vimal-s-GBg3jyGS-Ug-unsplash.jpg);
        background-size: cover;
    }
    h1 {
        color: #636161;
    }
    p {
        text-indent: 20px;
        line-height: 20px;
        color: #fff;
    }
    a {
        background: #636161;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 15px;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
    }