    body {
        font-family: 'Courier New';
        font-size: 20px;
        font-variant: small-caps;
        font-style: italic;
    }
    h1 {
        color: blueviolet;
    }
    p {
        line-height: 1.6em;
        color: rgb(14, 14, 13);
    }
    a {
        text-decoration: none;
    }